extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  section.header
    .header__img
      img(src="./assets/images/bg/hero.jpg", alt="").header__image
    .header__top
      .header__top_left
        ul.socials
          -var socials = ['vk', 'gh', 'in']
          each item in socials
            li.socials__item
              a(href="" class=`socials__link_white_${item}`).socials__link.socials__link_white
          
      .header__top_right
        a(href="#").btn__nav
          span.btn__nav_decor
          span.btn__nav_decor
          span.btn__nav_decor
    .header__portfolio
      img(src="./assets/images/bg/header.png", alt="").portfolio__image
    .header__centr
      .header__use
        img(src="./assets/images/bg/UvfEDDe549U.jpg", alt="фото" ).avatar
        h1 Татьяна Пономарева
        p Личный сайт веб разработчика
    .header__bottom
      .arrow-down
        a(href="#").arrow-down_btn
      
  section.about
    //- .about__top
    //-   svg.triangles(viewBox="0 0 1200 108", preserveAspectRatio="xMinYMax")
    //-     polygon(points="0,0 0,108 601,108 601,105").triangle.triangle_fill_white
    //-     polygon(points="1200,0 1200,108 599,108 599,105").triangle.triangle_fill_beige
    .about__left
      .about__title
        h2.title ОБО МНЕ
      .about__desc
        .user-desc
          .user-desc__pic
            img(src="./assets/images/bg/UvfEDDe549U.jpg", alt="").avatar.norm
          .user-desc__info
            .user-desc__title
              .subtitle Кто я
            .user-desc__text
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit recusandae dolorem accusamus, est libero officia! Tempora eius, labore deserunt voluptatibus nobis eum tempore laborum, maxime expedita aperiam praesentium magni provident!
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit qui voluptates sint facere labore inventore asperiores unde! Laboriosam id incidunt aut aliquid quos commodi tempora. Aperiam cumque porro placeat sed!
    .about__right
      .about__right_title
        .subtitle Чем я могу быть
        .subtitle_none  вам  полезен
      .about__smol-desc
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam reprehenderit dolore nobis doloremque, officia error aperiam qui ex officiis aliquid. Id fuga excepturi unde numquam dignissimos iste eaque corrupti soluta.
      .about__info

        #skills-component
        //- ul.skills
        //-   -
        //-     var skills = [
        //-       ['Frontend', ['HTML', 'css', 'JS']],
        //-       ['Backend', ['PHP', 'mySQL', 'Node.js', 'Mongo']],
        //-       ['Workflow', ['Git', 'Gulp', 'Webpack']],
        //-     ]
        //-   each item in skills 
        //-     li.skills__item 
        //-       .skills-row
        //-         .skills-row__title #{item[0]}
        //-         ul.skills-row__list
        //-           each skills in item[1]
        //-             li.skills-row__item
        //-               .skill
        //-                 svg(viewBox="0 0 100 100" preserveAspectRatio="none").skill__figure
        //-                   circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
        //-                   circle(cx="50" cy="50" r="40" ref="circle").skill__circle.skill__circle_above
        //-                 .skill__title #{skills}

  section.contacts
    map(name="").map
    .contacts__conteiner
      .user-data
        .user-data__title
          .subtitle Контакты
        .user-data__container
          ul.user-contacts-list
            each item in ['skype', 'mail', 'tel', 'adress']
              li.user-contacts-list__item
                .contacts-cell
                  .contacts-cell__icon(class=`contacts-cell__icon_${item}`)
                  a(href="#").contacts-cell__title #{item}

  
  
  //- footer.footer 
  //-   .footer__row.foorer__row_top
  //-     .footer__col
  //-       nav.menu
  //-         ul.menu__list 
  //-           each item in ['Мои работы',gmail'Обо мне','Блог','Авторизация']
  //-             li.menu__item
  //-               a.menu__link #{item}
  //-     .footer__col.footer__col_right
  //-       ul.socials
  //-         -var socials = ['vk', 'gh', 'in']
  //-         each item in socials
  //-           li.socials__item
  //-             a(href="" class=`socials__link_${item}`).social__link

  //-   .footer__row
  //-     .footer__col
  //-       .copyright
  //-         p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam rem eum tempora debitis, natus expedita autem alias, earum dolores quos ipsam? Et ea autem, iste quas nisi soluta debitis id?
  //-     .footer__col.footer__col_right
  //-       .copyright
  //-         p &copy;	Татьяна Пономарева | Созданно с любовью в LoftShool | 2018
  