mixin icon(iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`/assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
  img(src=`/assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

//- include ../blocks/media.scss
  
//- mixin HD {
//-   media screen and (max-width: $HD) {
//-     content;
    
//-   }
  
//- }

//- mixin desktop {
//-   media screen and (max-width: $desktop) {
//-     content;
    
//-   }
  
//- }

//- mixin laptop {
//-   media screen and (max-width: $laptop) {
//-     content;
    
//-   }
  
//- }

//- mixin tablets {
//-   media screen and (max-width: $tablets) {
//-     content;
    
//-   }
  
//- }

//- mixin phone {
//-   media screen and (max-width: $phone) {
//-     content;
    
//-   }
  
//- }